<h1>Hello, <%= @user.name %></h1>

<p>
  You are signed in as: '<%= @user.name %>'<br/>
  Your user ID is: <%= @user.id %>
</p>

<h3>Your Hosted Events:</h3>
<ul>
  <% @user.hosted_events.each do |event| %>
      <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>

<h3>Upcoming Events:</h3>
<ul>
  <% @user.attended_events.each do |event| %>
    <% if event.date >= Date.today %>
      <li><%= link_to event.name, event_path(event) %></li>
    <% end %>
  <% end %>
</ul>

<h3>Past Events:</h3>
<ul>
  <% @user.attended_events.each do |event| %>
    <% if event.date < Date.today %>
      <li><%= link_to event.name, event_path(event) %></li>
    <% end %>
  <% end %>
</ul>