<h1>New Event</h1>

<% if @event.errors.any? %>
  <h2><%= pluralize(@event.errors.count, 'error') %> prohibited this event from being created:</h2>
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @event, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :date %>
  <%= f.date_field :date %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit 'Create Event' %>
<% end %>