<h1><%= @event.name %></h1>

<h3>Creator:</h3>
<%= @event.creator.name %>

<h3>Location:</h3>
<%= @event.location %>

<h3>Date:</h3>
<%= @event.date %>

<h3>Description:</h3>
<%= @event.description %>

<h3>Attendees:</h3>
<ul>
  <% @event.attendees.each do |a| %>
    <li><%= a.name %></li>
  <% end %>
</ul>