<% if session[:current_user_id] %>
  <% user = User.find(session[:current_user_id]) %>
  <p>
    You are signed in as <%= user.name %>
  </p>
  <%= link_to 'My Profile', user_path(user) %> <%= link_to 'New Event', new_event_path %> <%= link_to 'Sign Out', user_path(user), method: :delete %>
<% else %>
  <%= link_to 'Sign In', new_user_path %>
<% end %>

<%= link_to 'All Events', events_path %>