<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.notice %>
      <p>
        <%= flash.notice %>
      </p>
    <% end %>

    <% if session[:current_user_id] %>
      <% user = User.find(session[:current_user_id]) %>
      <p>
        You are signed in as <%= user.name %>
      </p>
      <p>
        <%= link_to 'My Profile', user_path(user) %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
